<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.springboot.backend.dao.mapper">


    <select id="findAllDeal" resultType="com.springboot.backend.bean.DealInfo">
        select * from DealInfo;
    </select>
    <select id="findDealNum" resultType="com.springboot.backend.bean.DealNum">
        select housetext as city,sum(dealnum) as value from DealInfo group by housetext;
    </select>

    <select id="getcarbonTradingeAmountChartData" resultType="com.springboot.backend.bean.CAQuaryResult">
        select housetext as city,sum(dealamount) as value
        from data.DealInfo
        group by housetext;
    </select>
    <select id="login" parameterType="com.springboot.backend.bean.User" resultType="java.lang.Integer">
        select user.userId
        from user
        where username = #{username}
          and password = #{password}
    </select>
    <select id="regist" parameterType="com.springboot.backend.bean.User" >
        insert into user(userId,username,password)
        values(#{userId},#{username},#{password})
    </select>

    <select id="findAllGHN" resultType="com.springboot.backend.bean.GuiHuaNews">
        select * from GuiHuaNews;
    </select>

    <select id="findAllJRN" resultType="com.springboot.backend.bean.JinRongNews">
        select * from JinRongNews;
    </select>

    <select id="findAllTJY" resultType="com.springboot.backend.bean.TanJiaoYi">
        select * from TanJiaoYi;
    </select>

    <select id="findAllTQQ" resultType="com.springboot.backend.bean.TanQiQuan">
        select * from TanQiQuan;
    </select>

    <select id="findAllZCFG" resultType="com.springboot.backend.bean.ZhengCeFaGui">
        select * from ZhengCeFaGui;
    </select>




</mapper>