<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.springboot.backend.dao.RegisterAndLoginMapper">
    <!--用户信息SQL-->
    <!--登录,根据activeStatus=1 进行查询-->
    <select id="login" parameterType="com.springboot.backend.bean.User" resultType="java.lang.Integer">
        select user.userId
        from user
        where username = #{username}
          and password = #{password}
          and activeStatus = 1
    </select>
    <!--注册-->
    <insert id="regist" parameterType="com.springboot.backend.bean.User" >
        insert into user(userId,username,password,email,activeStatus,activeCode)
        values(#{userId},#{username},#{password},#{email},#{activeStatus},#{activeCode})
    </insert>
    <!--按激活码取用户-->
    <select id="selectUserByActiveCode" parameterType="String" resultType="com.springboot.backend.bean.User">
        select * from user where activeCode = #{activeCode}
    </select>
    <!--激活账户，修改用户状态-->
    <update id="update" parameterType="com.springboot.backend.bean.User">
        update user
        set activeStatus=#{activeStatus},username=#{username},password=#{password},
            email=#{email},activeCode=#{activeCode}
        where id=#{userId}
    </update>

</mapper>